body, html {
  margin: 0
}

* {-webkit-tap-highlight-color:transparent}

a {
  cursor: pointer
}

.button {
  display: inline-flex;
  justify-content:center;
  align-items:center;
  text-decoration: none;
  width:40px;
  height:40px;
  border-radius: 50%;
  box-shadow: #ffadc5 0 0 0 2px inset;
  transition: all .2s cubic-bezier(.39, .5, .15, 1.36);
  -webkit-transition: all .2s cubic-bezier(.39, .5, .15, 1.36);
  -moz-transition: all .2s cubic-bezier(.39, .5, .15, 1.36);
  -ms-transition: all .2s cubic-bezier(.39, .5, .15, 1.36);
  -o-transition: all .2s cubic-bezier(.39, .5, .15, 1.36)
}

.button::before {
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  position: relative;
  transform: rotate(135deg)
}

.button.to-top::before {
  transform: rotate(-45deg)
}

.button:hover {
  box-shadow: #ffadc5 0 0 0 40px inset
}

.white-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: #fff
}

.to-bottom, .to-top {
  position: absolute;
  color: #fff;
  right: 10px;
  z-index: 2
}

.to-bottom {
  top: 10px
}

.to-top {
  bottom: 10px
}

#sc-spy {
  position: fixed;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  left: 20px;
  top: 10px;
  z-index: 3
}

#sc-spy li {
  list-style: none;
  overflow: hidden
}

#sc-spy li img {
  max-width: 90%;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 70px;
  cursor: pointer
}

#sc-spy a {
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
  opacity: .7
}

#sc-spy a:hover, #sc-spy li.active a {
  opacity: 1
}

#sc-spy li.active a img {
  border-color: #333
}

#twice {
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.twice {
  position:relative;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.bg-wrapper {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transform: translateZ(0);
  will-change: transform;
}

#nayeon .bg {
  background-image: url(large/1.jpg)
}

#jeongjyeon .bg {
  background-image: url(large/2.jpg);
}

#momo .bg {
  background-image: url(large/3.jpg);
}

#sana .bg {
  background-image: url(large/4.jpg);
}

#jihyo .bg {
  background-image: url(large/5.jpg)
}

#mina .bg {
  background-image: url(large/6.jpg)
}

#dahyun .bg {
  background-image: url(large/7.jpg)
}

#chaeyoung .bg {
  background-image: url(large/8.jpg)
}

#tzuyu .bg {
  background-image: url(large/9.jpg)
}

@media screen and (max-width:980px) {
  #sc-spy {
    flex-direction: row;
    width: 100%;
    left: 0;
    top: auto;
    bottom: 10px
  }
  .to-top {
    display:none
  }
}
